<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test Flask Game</title>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <style>
        button,
        .link-button {
          width: 100%;
          border: 1px solid gray;
          padding: 0.5rem 1rem;
          border-radius: 0.25rem;
          background-color: white;
          cursor: pointer;
          transition:
            background-color 0.3s,
            color 0.3s;
        }

        button:hover,
        .link-button:hover {
          background-color: #f0f0f0;
          color: #333;
        }
    </style>
  </head>
  <body class="pt-4 md:pt-8 h-screen px-2 md:px-4 lg:px-8">
    <h1 class="text-2xl lg:text-4xl text-center font-bold">
      Веб-приложение для демонстрации базовой работы с рудзынг API
    </h1>

    <section
      class="flex flex-col gap-4 justify-center items-center mt-15 lg:mt-24 w-full"
    >
      <h2 class="text-lg text-center font-bold">
        Кнопки, реализующие работу с API
      </h2>

      <div
        class="lg:p-6 lg:border-2 border-red-500 lg:rounded flex flex-col gap-2 md:gap-4 w-3/5"
      >
        {% if not user_id %}
        <a class="link-button text-center" href="/login"
          >Авторизация в рудзынг.рф</a
        >
        {% endif %}

        <!-- Условие если пользователь есть -->
        {% if user_id %}
        <form action="/points" method="get">
          <input type="hidden" value="get" name="action" />
          <button id="get-points" type="submit">Получить баллы</button>
        </form>
        <form action="/points" method="post" class="flex flex-col gap-2">
          <input type="hidden" value="add" name="action" />
          <input
            type="number"
            name="points"
            placeholder="Баллы"
            required
            class="border-2 border-gray-300 rounded p-2"
          />
          <button id="post-points" type="submit">
            Добавить баллы пользователю
          </button>
        </form>
        <a
          href="/logout"
          class="link-button text-center bg-red-500! text-white hover:bg-red-600! hover:text-white! border-none"
        >
          Выйти
        </a>
        {% endif %}
      </div>
    </section>
    {% if points %}
    <div class="mt-4">
      <h2 class="text-green-500 text-center">
        Баллы пользователя: {{ points }}
      </h2>
    </div>
    {% endif %}
    {% if error %}
    <div class="mt-4">
      <h2 class="text-red-500 text-center">{{ error["message"] }}</h2>
    </div>
    {% endif %}
  </body>
</html>
